.divider {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    
    span {
        color: var(--color-grey);
    }

    strong {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
