{
"btcd" : [
        {
                "url": "${APP_BITCOIN_NODE_IP}:${APP_BITCOIN_RPC_PORT}",
                "auth": "${APP_BITCOIN_RPC_USER}",
                "pass": "${APP_BITCOIN_RPC_PASS}",
                "notify" : true
        }
],
"btcsig" : "/mined by Bassin/",
"serverurl" : [
        "0.0.0.0:3333"
],
"startdiff" : 1000,
"zmqblock" : "tcp://${APP_BITCOIN_NODE_IP}:${APP_BITCOIN_ZMQ_RAWBLOCK_PORT}",
"logdir" : "web"
}
